:root {
  --accent: 136, 58, 234;
  --accent-light: 224, 204, 250;
  --accent-dark: 49, 10, 101;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--accent-light)) 30%,
    white 60%
  );
}

@font-face {
  font-family: "Tahoma";
  src: url("/fonts/tahoma/subset-Tahoma.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TahomaBold";
  src: url("/fonts/tahoma/subset-Tahoma-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: "Tahoma", system-ui, sans-serif;
  background: #0f8787;
  background-size: 224px;
  cursor: url("/assets/cursor.ico"), default !important;
}

.cursor-wait {
  cursor: url("/assets/cursor-progress.ico"), wait !important;
}

code {
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}

body {
  background: #0f8787;
}

/* Gradient background - based on https://codepen.io/coreh/pen/LQJBLa?editors=1100 */
.bgGradient::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-blend-mode: multiply;
  background: radial-gradient(
    circle at center,
    transparent,
    rgba(47, 46, 46, 0.5)
  );

  background-size: 3px 3px;
  pointer-events: none;
}

.pixelated {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
.title-bar {
  font-family: "TahomaBold", Arial;
  font-size: 12px;
  -webkit-font-smoothing: none;
}

.keyBind:first-letter {
  text-decoration: underline;
}

.text-from-prompt {
  font-size: 14px;
  user-select: none;
}

.window,
p,
label,
input,
button,
.LoginModalOKButton {
  font-family: "Tahoma", Arial;
  font-size: 12px;
  -webkit-font-smoothing: none;
}

button {
  cursor: url("/assets/cursor-pointer.ico"), pointer !important;
}

.title-bar {
  font-family: "Tahoma", Arial;
}

.title-bar-controls button {
  padding: 0;
  display: block;
  min-width: 18px;
  min-height: 16px;
}

.title-bar-controls button[aria-label="Help"] {
  background-image: svg-load("./icon/help.svg");
  background-repeat: no-repeat;
  background-position: top 3px left 5px;
}

.title-bar-controls button[aria-label="Close"] {
  margin-left: 2px;
  background-image: svg-load("./icon/close.svg");
  background-repeat: no-repeat;
  background-position: top 4px left 4.5px;
}
