:root {
  --accent: 136, 58, 234;
  --accent-light: 224, 204, 250;
  --accent-dark: 49, 10, 101;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--accent-light)) 30%,
    white 60%
  );
}

@font-face {
  font-family: "Tahoma";
  src: url("/fonts/tahoma/subset-Tahoma.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TahomaBold";
  src: url("/fonts/tahoma/subset-Tahoma-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: "Tahoma", system-ui, sans-serif;
  background: #0f8787;
  background-size: 224px;
  cursor: url("/assets/cursor.ico"), default;
}

code {
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}

body {
  background: #0f8787;
}

ul.tree-view {
  font-family: "Tahoma", system-ui, sans-serif;
}

ul.tree-view details > summary:before {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  margin-top: 2px;
  padding-left: 0px;
}

/* Gradient background - based on https://codepen.io/coreh/pen/LQJBLa?editors=1100 */
.crt::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-blend-mode: multiply;
  background: radial-gradient(
    circle at center,
    transparent,
    rgba(47, 46, 46, 0.5)
  );
  z-index: 3;
  background-size: 3px 3px;
  pointer-events: none;
}

.crt::after {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(18, 16, 16, 0.1);
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}

.pixelated {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
.title-bar {
  font-family: "TahomaBold", Arial;
  font-size: 12px;
  -webkit-font-smoothing: none;
}

.keyBind:first-letter {
  text-decoration: underline;
}

.text-from-prompt {
  font-size: 14px;
  user-select: none;
}

.window,
p,
label,
input,
button,
.LoginModalOKButton {
  font-family: "Tahoma", Arial;
  font-size: 12px;
  -webkit-font-smoothing: none;
}

button {
  cursor: url("/assets/cursor-pointer.ico"), pointer !important;
}

.title-bar {
  font-family: "Tahoma", Arial;
}

.title-bar-controls button {
  padding: 0;
  display: block;
  min-width: 18px;
  min-height: 16px;
}

.title-bar-controls button[aria-label="Help"] {
  background-image: svg-load("./icon/help.svg");
  background-repeat: no-repeat;
  background-position: top 3px left 5px;
}

.title-bar-controls button[aria-label="Close"] {
  margin-left: 2px;
  background-image: svg-load("./icon/close.svg");
  background-repeat: no-repeat;
  background-position: top 4px left 4.5px;
}

.full-window-body {
  margin: 0;
}

.full-title-bar {
  background: black;
}

@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}
