---
import LoginLayout from "../layouts/LoginLayout.astro";

import LoginWindow from "../components/LoginWindow.astro";
import WindowAITextTest from "../components/WindowAITextTest";

import ShaderWrapper from "../components/ShaderWrapper.astro";
import TestShadderWrapper from "../components/TestShaderWrapper";

import GlitchBg from "../components/GlitchBg";
import GlitchBgWrapper from "../components/GlitchBgWrapper.astro";
---

<LoginLayout title="【ｓｅｇｍｅｎｔａｔｉｏｎｆａｕｌｔ】">
  <div class="bgGradient">
    <div class="flex justify-center">
      <div class="">
        <WindowAITextTest client:load />
      </div>

      <div class="">
        <LoginWindow />
      </div>
    </div>

    <div class="" id="shadderContainer">
      <TestShadderWrapper client:only="react" />
    </div>

    <div class="absolute bottom-0">
      <GlitchBgWrapper />
    </div>
  </div>

  <script>
    import { isLoggedin } from "../store";

    // Set the store to true when the button is clicked
    function logUserIn() {
      isLoggedin.set(true);
    }
  </script>
</LoginLayout>
