---
import LoginLayout from "../layouts/LoginLayout.astro";

import LoginWindow from "../components/LoginWindow.astro";
import WindowAITextTest from "../components/WindowAITextTest";

import ShaderWrapper from "../components/ShaderWrapper.astro";
import TestShadderWrapper from "../components/TestShaderWrapper";

import GlitchedBackground from "../components/GlitchedBackground.astro";
---

<LoginLayout title="【ｓｅｇｍｅｎｔａｔｉｏｎｆａｕｌｔ】">
  <!-- Main container -->
  <div class="bgGradient">
    <div class="relative">
      <!-- Windows Container -->
      <div class="flex justify-center">
        <div class="relative left-[100vh]" id="welcomePromptWindow">
          <WindowAITextTest client:load />
        </div>

        <div class="relative" id="loginWindow">
          <LoginWindow />
        </div>
      </div>

      <!-- Background Shader Container -->
      <div class="relative" id="shadderContainer">
        <TestShadderWrapper client:only="react" />
      </div>

      <!-- Glitch at bottom container -->
      <div class="fixed bottom-0" id="glitchedBottom">
        <GlitchedBackground />
      </div>
    </div>
  </div>

  <script>
    import { isLoggedin } from "../store";

    // Attach the event listener to the Login button
    document.getElementById("loginButton").addEventListener("click", logUserIn);

    // Set the store to true when the button is clicked
    function logUserIn() {
      isLoggedin.set(true);
      // Once user is logged in, hides the other components
      document.getElementById("loginWindow").style.display = "none";
      document.getElementById("glitchedBottom").style.display = "none";
    }
  </script>
</LoginLayout>
