---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Button from "../components/Button.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Button />
  </main>
</Layout>
