---
import LoginLayout from "../layouts/LoginLayout.astro";
import Desktop from "./desktop";
---

<LoginLayout title="【ｓｅｇｍｅｎｔａｔｉｏｎｆａｕｌｔ】">
  <p class="absolute bottom-0 right-4">
    Y29uZWN0YWRvIHBvciBqYW1lcyBAZXJhbWFqYWFydmk=
  </p>
  <Desktop client:only="react" />
</LoginLayout>
