---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import LoginLayout from "../layouts/LoginLayout.astro";
---

<Layout title="【ｓｅｇｍｅｎｔａｔｉｏｎｆａｕｌｔ】">
  <main class="">
    <LoginLayout />
  </main>
</Layout>
