---
import React from "react";
import Layout from "../layouts/Layout.astro";
import LoginLayout from "../layouts/LoginLayout.astro";

import LoginModal from "../components/LoginModal.jsx";
---

<LoginLayout title="【ｓｅｇｍｅｎｔａｔｉｏｎｆａｕｌｔ】">
  <main>
    <LoginModal />
  </main>
</LoginLayout>
