---
import LoginModal from "../components/LoginModal.astro";
import Layout from "../layouts/Layout.astro";
import LoginLayout from "../layouts/LoginLayout.astro";
---

<LoginLayout title="【ｓｅｇｍｅｎｔａｔｉｏｎｆａｕｌｔ】">
  <main>
    <LoginModal />
  </main>
</LoginLayout>
