---
import GlitchBg from "./GlitchBg";
---

<div id="glitchBg">
  <GlitchBg client:only="react" />
</div>

<script>
  import { isLoggedin } from "../store.js";

  // Listen to changes in the store, and show/hide the element accordingly
  isLoggedin.subscribe((open) => {
    if (open) {
      document.getElementById("glitchBg").style.display = "none";
    } else {
      document.getElementById("glitchBg").style.display = "block";
    }
  });
</script>
