---
import "98.css";
import { Image } from "astro:assets";
import passwordIcon from "../assets/password.png";
---

<div class="window mt-32" style="width: 500px">
  <div class="title-bar">
    <div class="title-bar-text">
      Bienvenido a ｓｅｇｍｅｎｔａｔｉｏｎｆａｕｌｔ
    </div>
    <div class="title-bar-controls">
      <button aria-label="Help"></button>
      <button aria-label="Close"></button>
    </div>
  </div>
  <div class="window-body flex justify-around">
    <div class="place-content-start mt-1">
      <img
        class="pixelated h-12 w-12"
        src={passwordIcon.src}
        alt="Password icon to log in into Windows"
      />
    </div>
    <div>
      <p>Ingrese sus credenciales para iniciar sesión</p>
      <div class="mt-3">
        <div class="field-row justify-between" style="width: 200px">
          <label for="text18">
            <p><p class="underline">U</p>suario:</p>
          </label>

          <input
            class="self-end"
            id="text18"
            type="text"
            disabled
            value="Admin"
          />
        </div>

        <div class="field-row justify-end" style="width: 200px">
          <label for="text19">
            <p><p class="underline">C</p>ontraseña:</p>
          </label>
          <input class="self-end" id="text19" type="text" />
        </div>
      </div>
    </div>
    <div class="flex flex-col">
      <button class="mt-1">OK</button>
      <button class="mt-1" disabled>Cancelar</button>
    </div>
  </div>
</div>

<style>
  .pixelated {
    image-rendering: pixelated;
  }
  .title-bar {
    font-family: "TahomaBold", Arial;
    font-size: 12px;
    -webkit-font-smoothing: none;
  }

  .window,
  p,
  label,
  input,
  button {
    font-family: "Tahoma", Arial;
    font-size: 12px;
    -webkit-font-smoothing: none;
  }

  .title-bar-controls button {
    padding: 0;
    display: block;
    min-width: 18px;
    min-height: 16px;
  }

  .title-bar-controls button[aria-label="Help"] {
    background-image: svg-load("./icon/help.svg");
    background-repeat: no-repeat;
    background-position: top 3px left 5px;
  }

  .title-bar-controls button[aria-label="Close"] {
    margin-left: 2px;
    background-image: svg-load("./icon/close.svg");
    background-repeat: no-repeat;
    background-position: top 4px left 4.5px;
  }
</style>
