---
import Shader from "./Shader.jsx";
---

<div class="bgShadder hidden" id="shadderContainer">
  <Shader client:only="react" id="bgShadder" />
</div>

<script>
  import { isLoggedin } from "../store.js";

  // Listen to changes in the store, and show/hide the dialog accordingly
  isLoggedin.subscribe((open) => {
    if (open) {
      document.getElementById("bgShadder").style.display = "none";
    } else {
      console.log(open);
      document.getElementById("bgShadder").style.display = "none";
    }
  });
</script>
