---
import Shader from "../components/Shader.jsx";
---

<div id="bgShadder" class="bgShadder">
  <Shader client:only="react" />
</div>

<script>
  import { isLoggedin } from "../store.js";

  // Listen to changes in the store, and show/hide the dialog accordingly
  isLoggedin.subscribe((open) => {
    if (open) {
      document.getElementById("bgShadder").style.display = "block";
    } else {
      document.getElementById("bgShadder").style.display = "none";
    }
  });
</script>
