---
import LoginModal from "../components/LoginModal.astro";
---

<!doctype html>
<html lang="es">
  <body>
    <LoginModal class="justify-center items-center" />
  </body>
</html>

<style>
  html {
    background: #0f8787;
    background-size: 224px;
  }
</style>
